/* Stylesheet - formation-P2-TD1 */

/* sections */

html {
  font-family:Arial;
}
header {
  background-color:#9273ae;
  padding:0.2% 3% 0.1% 3%;
}
ul.nav {
  display:flex;
  -webkit-padding-start: 0%;
}
li.nav {
  list-style:none;
  color:white;
  background-color:#9273ae;
  border-style: solid;
  border-color:white;
  border-radius:5px;
  padding:15px;
  margin-right:10px;
}
.block-alone, .block-left, .block-right {
  border-style:solid;
  border-color:#9273ae;
  padding:2% 2% 1% 2%;
  margin-top:2%;
  margin-bottom:2%;
  margin-left:2%;
  display: inline-block;
  vertical-align:top;
}
.block-right, .block-alone {
  margin-right:2%;
}
.block-left {
  width:60%;
}
.block-right {
  width:24%;
}
.block-alone {
  width:92%;
}
footer {
  background-color:#9273ae;
  color:white;
  padding:0.1% 3% 0.1% 3%;
}

/* others */

#little-text {
  font-size:13px;
}
.text-color-white {
  color:white;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
h1 {
  color:white;
}
input {
  margin-bottom: 1%;
}
td {
  padding: 7px;
  text-align:left;
  vertical-align:middle;
}
table {
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td.table-center {
  text-align: center;
}
